# 資料庫基礎教學 1

SQLite 下載連結：https://www.sqlite.org/download.html<br>
DB Browser for SQLite 下載連結：https://sqlitebrowser.org/dl/

<a href="https://i.imgur.com/MYCVLpa.png"><img src="https://i.imgur.com/MYCVLpa.png" width="400" height="800"></a>

<a href="https://imgur.com/PVCSDxx.png"><img src="https://imgur.com/PVCSDxx.png" width="400" height="800"></a>

### 認識SQLite資料庫
### DB Browser for SQLite 管理工具
### SQL語法
* 建立
* 新增
* 修改
* 刪除
* 查詢

In [4]:
import sqlite3

connection = sqlite3.connect('股票清單.db')

cursor = connection.cursor()

command = '''CREATE TABLE IF NOT EXISTS
stock(id TEXT PRIMARY KEY, name TEXT, date TEXT)
'''

cursor.execute(command)

In [5]:
cursor.execute('INSERT INTO stock VALUES ("1101", "台泥", "1962/02/09")')
cursor.execute('INSERT INTO stock VALUES ("1102", "亞泥", "1962/06/08")')
cursor.execute('INSERT INTO stock VALUES ("1103", "嘉泥", "1969/11/14")')

connection.commit()

In [6]:
cursor.execute('UPDATE stock SET date = "1969/11/15" WHERE id = "1103"')
connection.commit()

In [7]:
cursor.execute('DELETE FROM stock WHERE id = "1103"')
connection.commit()

In [8]:
cursor.execute('SELECT * FROM stock') # *號表示要取出所有的欄位, id, name, date

stocks = cursor.fetchall() # fetchall()表示執行取出所有資料

for stock in stocks:
    print('證券代號：{} 名稱：{} 上市日：{}'.format(stock[0], stock[1], stock[2]))

證券代號：1101 名稱：台泥 上市日：1962/02/09
證券代號：1102 名稱：亞泥 上市日：1962/06/08

In [9]:
cursor.execute("SELECT * FROM stock WHERE id = 1102") #用where過濾，只取得1102資料

stock = cursor.fetchone() #fetchone表示只取得1筆

print('證券代號：{} 名稱：{} 上市日：{}'.format(stock[0], stock[1], stock[2]))

證券代號：1102 名稱：亞泥 上市日：1962/06/08

In [10]:
connection.close() #結束使用資料庫連線